<div class="bg-violet pl-4 py-4">
  <img id="sidebarLogo" src="assets/img/logo-symbol.svg">
  <p class="text-white mt-4 mb-0">все-салоны-красоты.рф</p>
</div>
<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action border-0"
     routerLink="/"
     routerLinkActive="sidebar-list-group-item-active"
     [routerLinkActiveOptions]="{exact:true}">{{"COMMON.MAIN" | translate}}</a>
  <a class="list-group-item list-group-item-action border-0"
     routerLink="/about"
     routerLinkActive="sidebar-list-group-item-active">{{"COMMON.ABOUT" | translate}}</a>
</div>
