.bg-violet {
  background-color: $violet;
}

.bg-violet-darken-20 {
  background-color: $violet-darken-20;
}

.text-violet {
  color: $violet;
}

.text-violet-darken-20 {
  color: $violet-darken-20;
}
