.bg-violet {
  background-color: $violet;
}

.bg-violet-darken-20 {
  background-color: $violet-darken-20;
}

.text-violet {
  color: $violet;
}

.text-violet-darken-20 {
  color: $violet-darken-20;
}

.cursor-pointer {
  cursor: pointer;
}

.pointer-events-none {
  pointer-events: none;
}

.modal-full {
  min-width: 100%;
  margin: 0;
  .modal-content {
    min-height: 100vh;
  }
}

.modal-flat {
  .modal-content {
    @extend .rounded-0;
    .modal-header {
      @extend .rounded-0;
    }
  }
}

.flex-child-with-text-truncate-child {
  min-width: 0;
}

.text-uppercase-first-letter:first-letter {
  text-transform: uppercase;
}
