$violet: #6435C9;
$red: #ef5350;
$blue: #42a5f5;
$green: #66bb6a;
$light-green: #9ccc65;
$deep-orange: #ff7043;
$brown: #8d6e63;
$blue-grey: #78909c;

$primary: $violet;

$primary-darken-10: darken($primary, 10%);
$primary-darken-20: darken($primary, 20%);
$primary-lighten-10: lighten($primary, 10%);
$primary-lighten-20: lighten($primary, 20%);
$primary-lighten-30: lighten($primary, 30%);
$primary-lighten-40: lighten($primary, 40%);

$body-bg: lighten($primary, 48%);

$sidebar-list-group-item-active-bg-color: #d6d8db;

$page-container-width-padding: 5%;
$page-container-height-padding: 5%;
